@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
:root {
	--primary-blue: #8486a9;
	--primary-red: #fb6087;
	--white: #ffffff;
	--blue-700: #343650;
	--blue-800: #1e1f29;
	--blue-900: #191a24;
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 14px;
	font-family: "Red Hat Text", sans-serif;
}
body {
	background: radial-gradient(
		circle at 50% 1000%,
		var(--primary-red),
		var(--blue-800)
	);
	width: 100%;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}
.hills {
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("./images/pattern-hills.svg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
}
.stars {
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("./images/bg-stars.svg");
	background-position: center;
}
main {
	max-width: 1280px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
main h1 {
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 8px;
	margin-top: 12rem;
	text-align: center;
}
.timer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	padding: 8rem 3rem;
	gap: 3rem;
}
.timer .card-container {
	width: 100%;
}
.timer .card-container .name {
	text-transform: uppercase;
	padding: 2rem 0;
	letter-spacing: 4px;
	font-size: 16px;
	text-align: center;
	color: var(--primary-blue);
}
.timer .card-container .card {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 1.5rem;
	aspect-ratio: 1;
	min-width: 90px;
	min-height: 90px;
	max-width: 200px;
	max-height: 200px;
	background-color: var(--blue-700);
	border-radius: 15px;
	position: relative;
	box-shadow: 0px 13px 2px -1px rgba(25, 26, 36, 1);
}
.timer .card-container .card .content {
	font-size: 6rem;
	color: var(--primary-red);
}
.timer .card-container .card .overlay {
	top: 0;
	z-index: 0;
	position: absolute;
	border-radius: 15px 15px 0 0;
	height: 50%;
	width: 100%;
	background-color: hsla(0, 0%, 0%, 0.2);
	border-bottom: 2px solid hsla(0, 0%, 0%, 0.15);
}

.card::after {
	content: "";
	top: 0;
	position: absolute;
	height: 16px;
	width: 8px;
	border-radius: 0 16px 16px 0;
	z-index: 1;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	background-color: var(--blue-900);
}
.card::before {
	content: "";
	top: 0;
	position: absolute;
	height: 16px;
	width: 8px;
	border-radius: 16px 0 0 16px;
	z-index: 1;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	background-color: var(--blue-900);
}
.social {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	gap: 2rem;
}
.social a {
	text-decoration: none;
	color: var(--primary-blue);
	cursor: pointer;
}
.social a i {
	font-size: 2rem;
	transition: ease 0.3s all;
}
.social a:hover i {
	color: var(--primary-red);
	transform: scale(1.2);
}
.attribution {
	font-size: 14px;
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 3rem;
	color: var(--primary-blue);
}
.attribution a {
	text-decoration: none;
	color: var(--primary-red);
}

@media screen and (max-width: 768px) {
	html {
		font-size: 10px;
	}
	.timer .card-container .name {
		margin: 2rem auto;
		width: 100%;
		padding: 0;
		font-size: 10px;
	}
	.timer .card-container .card {
		max-width: 140px;
		max-height: 140px;
	}

	.timer .card-container .card .content {
		font-size: 4.4rem;
	}
	.timer {
		padding: 8rem 0;
		gap: 0.5rem;
		justify-content: center;
	}
	.social {
		gap: 3rem;
	}
	.social a i {
		font-size: 3rem;
	}
	.hills {
		background-size: 100% 15rem;
	}
}
